.chart {
	-fx-legend-side: right;
}

.chart-legend {
   -fx-background-color: transparent;
}

.chart-coordinates-label {
    -fx-background-color: rgba(255, 255, 128, 0.5);
    -fx-border-color: black;
    -fx-border-radius: 3;
    visibility: visible;
}

.chart-data-tooltip-label {
    -fx-background-color: rgb(153, 204, 204);
    -fx-border-color: black;
    -fx-border-radius: 3;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    visibility: visible;
}

.chart-coordinates-line {
	-fx-stroke: maroon;
	-fx-stroke-dash-array: 5 5;
	-fx-stroke-width: 1;
        visibility: visible;
}

.chart-zoom-rect {
	-fx-fill: -fx-faint-focus-color;
	-fx-stroke: -fx-focus-color;
	-fx-stroke-type: centered;
	-fx-stroke-width: 1.333;
}

.chart-vertical-grid-lines {
    -fx-stroke: black;
    visibility: visible;
}

.chart-horizontal-grid-lines {
    -fx-stroke: black;
    visibility: visible;
}

.chart-projection-lines {
    -fx-stroke: white;
    -fx-stroke-width: 2;
}
