/.projectKnowledge/
/nbproject/
/target/
/xaos.app.module/nbproject/
/xaos.app.module/target/
/xaos.core.module/nbproject/
/xaos.core.module/target/
/xaos.tests.tools.module/nbproject/
/xaos.tests.tools.module/target/
/xaos.tools.module/nbproject/
/xaos.tools.module/target/
/xaos.ui.module/nbproject/
/xaos.ui.module/target/
/xaos.ui.gauge.module/nbproject/
/xaos.ui.gauge.module/target/
/xaos.ui.plot.module/nbproject/
/xaos.ui.plot.module/target/