/.projectKnowledge/
/target/
/nbproject/
/xaos.tools/target/
/xaos.core/target/
/xaos.ui/target/
/xaos.tools.module/target/
/xaos.core.module/target/
/xaos.ui.module/target/
/xaos.app.module/target/
/xaos.ui.module/nbproject/
/xaos.tools.module/nbproject/
/xaos.test.module/nbproject/
/xaos.test.module/target/
/xaos.tests.module/nbproject/
/xaos.tests.module/target/